{%extends 'todo_app/base.html'%}
{% include 'todo_app/confirm_delete.html' %}
{% block navbar%}
{%if user.is_authenticated%}
<li class="nav-item dropdown ml-2">
    <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown">
        {{request.user}}</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
<!--        <li><a class="dropdown-item" href="/profile">Your profile</a></li>-->
<!--        <li><a class="dropdown-item" href="/profile">update profile</a></li>-->
        <li><a class="dropdown-item" href="/logout">Sign out</a></li>


    </ul>

</li>


{%else%}
<div class="d-grid gap-2 d-md-block mx-2">
    <a href="{% url 'todo_app:login_user' %}">
        <button class="btn btn-success" type="button">Log in</button>
    </a>
    <a href="{% url 'todo_app:signup_user' %}">
        <button class="btn btn-success" type="button">Sign up</button>
    </a>
</div>

{%endif%}

{%endblock navbar%}
{%block parent%}
{%if user.is_authenticated%}
<div class="mt-4">
    <h2 class="fw-bold fs-1">ADD ITEM IN YOUR TODO LIST</h2>

    <form class="mt-5" action="{% url 'todo_app:add' %}" method="post">{%csrf_token%}
        <div class="form-row align-items-center">
            <div class="col-auto">

                <input type="text" class="form-control mb-2" name="todo_title" placeholder="add todo item..">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2" name="action">ADD</button>
            </div>
        </div>
    </form>

</div>

<div class="mt-4">
    <ul class="list-group">
        {%for todo in todo_list%}
        <li class="list-group-item mt-4">{{todo}}
            <div class="float-right">
                <!--            <form action="delete_todo/{{todo.id}}/" action="post">-->
                <!--              <button type="submit" class="btn btn-sm btn-danger">Delete</button>-->
                <!--            </form>-->
                <!--          </div>-->
                <a class="btn btn-primary" href="{% url 'todo_app:edit' todo.id%}">Edit </a>
                <a href="{% url 'todo_app:delete' todo.id %}"
                   class="confirm-delete" title="Delete" data-toggle="modal"
                   data-target="#confirmDeleteModal"
                   id="deleteButton{{todo.id}}"><button class="btn btn-danger">Delete</button></a>


            </div>
            {%endfor%}
    </ul>
</div>
<div>
    {%block child%}
    {%endblock child%}
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" caller-id=""
     role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body confirm-delete">
          <h5 class="text-center"> Are you sure you want to delete?</h5>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteButtonModal">Delete</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).on('click', '.confirm-delete', function () {
  $("#confirmDeleteModal").attr("caller-id", $(this).attr("id"));
});

$(document).on('click', '#confirmDeleteButtonModal', function () {
  var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
  window.location = $("#".concat(caller)).attr("href");
});
</script>

{%endif%}
{%endblock parent%}

