{%extends 'todo_app/add.html'%}
{% load crispy_forms_tags%}
{% block parent %}
<div class="container">
    <div class="row d-flex align-items-center " style="height: 100vh;">
        <div class="col-md-5 mx-auto">
            <div class="todo_container">
                <div class="card top_box rounded-cicle">
                    <div class="top_box p-4 ">
                        <h1 class="display-4 text-center">Login</h1>
                    </div>
                    <div class="card-body">

                         <form action="" method="POST">
                                {% csrf_token %}
                                {{form | crispy}}
                                <div class="d-grid gap-2 mt-3">
                                    <button type="submit" class="btn btn-primary mt-1" type="button">Login</button>
                                </div>
                            </form>
                            <h6 class="mt-2">Create an account: <a href="{% url 'todo_app:signup_user' %}">Sign up</a></h6>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock parent %}
